* {
    margin: 0;
    padding: 0;
}

header {

    background-color: rgba(167, 212, 155);
    size: 200px;
}

h1 {

    color:rgba(54, 65, 86);
    text-align: center;
    font-size: 60px;
    line-height: 200px;
}

body {

    background-color: rgba(54, 65, 86);

}

section {

    display: flex;
}

.card {

    background-color: rgba(129, 164, 205);
    color: rgba(202, 5, 77);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 23%;
    height: auto;
    margin: 60px;
    padding: 25px;
    text-align: center;
    border-radius: 5px;
}

h2 {

    font-size: 40px;
}

.name, .role, .id, .email, .ogs {

    margin: 20px;
}

.role {

    font-size: 30px;
    background-color: rgba(202, 5, 77);
    color: rgba(129, 164, 205);
    border-radius: 5px;
    padding: 10px;
}

.content {

    text-align: left;
}